@import "mixins";

.post-list {
  margin-right: 20px;

  &__header {
    font-size: 24px;
    line-height: 2;
    margin-bottom: 20px;
  }

  &__item {
    border: 1px solid rgba(192, 192, 192, .7);
    border-radius: 2px;
    padding: 10px;

    @include box-shadow(0 5px 10px #aaa);
  }
}